@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;

    --dark-background-color: #1F2937;
    --quote-section-background-color: #E5E7EB;
    --quote-text-color: #1F2937;
    --button-background-color: #3882F6;

    --header-logo-text-color: #F9FAF8;

    --hero-main-text-color: #F9FAF8;
    --hero-main-text-size: 48px;
    --hero-main-text-weight: 900;

    --hero-secondary-text-color: #E5E7EB;
    --hero-secondary-text-size: 18px;

    --information-header-text-color: #1F2937;
    --information-header-text-size: 36px;
    --information-header-text-weight: 900;

    --dark-grey: rgb(78, 78, 78);

    font-family: var(--main-font);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--dark-background-color);
    padding: 18px 15%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: var(--hero-secondary-text-color);
}

.logo {
    color: var(--header-logo-text-color);
    font-size: 24px;
    font-weight: 900;
}

.main-container {
    display: flex;
    padding: 100px 0;
    gap: 48px;
}

.main {
    flex: 1;
}

.main * {
    margin: 8px 0;
}

.main h1 {
    font-size: var(--hero-main-text-size);
    font-weight: var(--hero-main-text-weight);
    color: var(--hero-main-text-color);
}

.main p {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
}

.placeholder-image {
    background-color: var(--quote-section-background-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    background-color: var(--button-background-color);
    color: white;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
}

.information-container {
    padding: 18px 20%;   
    text-align: center;
}

.information-container h2 {
    font-size: var(--information-header-text-size);
    font-weight: var(--information-header-text-weight);
    color: var(--information-header-text-color);
}

.illustration-cards-container {
    display: flex;
    gap: 12px;
}

.illustration-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-card p {
    color: var(--dark-grey);
}

.illustration {
    height: 150px;
    width: 150px;
    border: 3px solid var(--button-background-color);
    border-radius: 16px;
}